@import url("fonts/nerd.css");
@font-face{font-family:'NerdFontsSymbols Nerd Font';src:url("fonts/Symbols-2048-em Nerd Font Complete.ttf") format("truetype");font-weight:400;font-style:normal}

:root {
  --main-txt-color: #f5f6fa;
  --main-bg-color: #2f3640;
  --main-tile-color: #353b48;

  --tile-prp-color: #8c7ae6;
  --tile-blu-color: #0097e6;
  --tile-lblu-color: #40739e;
  --tile-grn-color: #44bd32;
  --tile-ylw-color: #fbc531;
  --tile-red-color: #c23616;
  --title-org-color: #e84118;
}

.invis{
  visibility: hidden;
  font-size: 0px;
}

#__uebersicht {
  position: relative;
}

.screen {
  /* display: flex; */
}

i {
  padding-left: 4px;
  padding-right: 4px;
}

.tile {
  font-family: 'Hack';
  font-size: 14px;

  order: integer;

  color: var(--main-txt-color);
  background-color: var(--main-tile-color);
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;



  border-bottom: 4px solid var(--tile-prp-color);
  border-radius: 5px;
}

.bottom{

}
