/*
  DIVE WIDGET CSS SHEETS
*/

:root {
  --main-txt-color: #eef6eb;

  --tile-grn: #475b4e;
  --tile-grn-select: #475b4e;

  --main-bg-color: #475b4e;

  --main-tilebg-color: #2f3640;
  --main-tile-color: #495163;

  --tile-org-dark: #88685F;
  --tile-org-light: #BD7D6D;

  --tile-grn-dark: #4E504E;
  --tile-grn-light: #5E7163;

  --tile-ylw-dark: #626059;
  --tile-ylw-light: #8b8367;

  --tile-blu-dark: #3b4549;
  --tile-blu-light: #445d67;

  --tile-red-dark: #4e3c43;
  --tile-red-light: #6e4555;

  --tile-lgren-dark: #6d726e;
  --tile-lgreen-light: #7fa286;
}

.container{
  padding-top: 3px;
	width: 100px;
  position: absolute;
}

.small{
	width: 60px !important;
}

.med{
  width: 70px !important;
}

.medium{
	width: 80px !important;
}

.big{
	width: 85px !important;
}

.mega{
  width: 90px !important;
}

.giga{
  width: 220px !important;
}

.adjust{
	width: auto !important;
	display: inline-block;
	position: absolute;
}

.bend {
	width: 100%;
	height: 22px;
	transform: skew(20deg);
	background-color: var(--main-tilebg-color);
}

.bend-lft {
	transform: skew(-20deg) !important;
}

.content {
	padding-top: 4px;
  padding-left: 32px;
	padding-right: 5px;
	transform: skew(-20deg);

	font-size: 15px;
  color: var(--main-txt-color);
	font-family: 'scientifica';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-lft{
  transform: skew(20deg) !important;
}

.icon{
	height: 100%;
	width: 24px;
	background-color: var(--main-tile-color);;
	float:left;
}

.icon img{
	padding-top: 5px;
	padding-left: 7.25px;

	transform: skew(-20deg);
	image-rendering: pixelated;
}

.icon-lft img{
  transform: skew(20deg);
}

/*

	ICON POSITIONS

  spacing = 10px

*/

#dive-widgets-time-coffee{
  right: 85px;
}

#dive-widgets-connection-coffee{
  right: 130px;
}


#dive-widgets-battery-coffee{
  right: 200px;
}

#dive-widgets-temp-coffee{
  right: 290px;
}

#dive-widgets-mem-coffee{
  right: 385px;
}

#dive-widgets-cpu-coffee{
  right: 475px;
}

#dive-widgets-up-coffee{
  right: 570px;
  z-index: 1;
}

#dive-widgets-down-coffee{
  right: 650px;
  z-index: -1;
}

#dive-widgets-headphones-coffee{
  right: 720px;
}


/*
LEFT
*/

#dive-widgets-spotify-coffee{
  left: 10px;
}


/*

COLORS

*/

.org-light{
  background-color: var(--tile-org-light) !important;
}

.org-dark{
  background-color: var(--tile-org-dark) !important;
}

.grn-light{
  background-color: var(--tile-grn-light) !important;
}

.grn-dark{
  background-color: var(--tile-grn-dark) !important;
}

.lgrn-light{
  background-color: var(--tile-lgrn-light) !important;
}

.lgrn-dark{
  background-color: var(--tile-lgrn-dark) !important;
}

.blu-light{
  background-color: var(--tile-blu-light) !important;
}

.blu-dark{
  background-color: var(--tile-blu-dark) !important;
}

.ylw-light{
  background-color: var(--tile-ylw-light) !important;
}

.ylw-dark{
  background-color: var(--tile-ylw-dark) !important;
}

.red-light{
  background-color: var(--tile-red-light) !important;
}

.red-dark{
  background-color: var(--tile-red-dark) !important;
}

.main-bg{

}
