:root {
  --main-txt-color: #f5f6fa;
  --main-bg-color: #2f3640;
  --main-tile-color: #353b48;

  --tile-prp-color: #8c7ae6;
  --tile-blu-color: #0097e6;
  --tile-lblu-color: #40739e;
  --tile-grn-color: #44bd32;
  --tile-ylw-color: #fbc531;
  --tile-red-color: #c23616;
  --title-org-color: #e84118;
}

.container{
	width: 100px;
  position: absolute;
}

.small{
	width: 50px !important;
}

.adjust{
	width: auto !important;
	display: inline-block;
	position: absolute;
	left: 100px;
	top: 4px;
}

.bend {
	width: 100%;
	height: 22px;
	transform: skew(20deg);
	background: #555;
}

.content {
	padding-top: 4px;
  padding-left: 28px;
	padding-right: 5px;
	transform: skew(-20deg);

	font-size: 14px;
	font-family: 'scientifica';
  text-rendering: optimizeLegibility;
}

.icon{
	height: 100%;
	width: 22px;
	background-color: #666;
	float:left;
}

.icon img{
	padding-top: 5px;
	padding-left: 6.5px;

	transform: skew(-20deg);
	image-rendering: pixelated;
}





/*

	ICON POSITIONS

*/

.headphones{
	width: auto;
	display: inline-block;
}

.battery{
  left: 1px;
  top: 100px;
}
