@import url("main.css");

#__uebersicht > #bg { flex:1;
                      order: 1; }
#__uebersicht > #battery { order: 9; }
#__uebersicht > #connection { order: 3; }
#__uebersicht > #cpu { order: 4; }
#__uebersicht > #date { order: 5; }
#__uebersicht > #mem { order: 6; }
#__uebersicht > #network { order: 7; }
#__uebersicht > #spotify { order: 8; }
#__uebersicht > #time { order: 9; }
#__uebersicht > #vol { order: 2; }
