@import url("../colors.css");
@import url("widgets.css");

/*
  DIVE WIDGET CSS SHEET
*/

.container{
  padding-top: 3px;
	width: 100px;
  position: absolute;
}

.vsmall{
  width: 70px !important;
	display: inline-block;
	position: absolute;
}

.small{
	width: 60px !important;
}

.lmao{
	width: 65px !important;
}

.med{
  width: 70px !important;
}

.medium{
	width: 80px !important;
}

.big{
	width: 85px !important;
}

.mega{
  width: 90px !important;
}

.massive{
  width: 95px !important;
}

.giga{
  width: 220px !important;
}

.adjust{
	width: auto !important;
	display: inline-block;
	position: absolute;
}

.bend {
	width: 100%;
	height: 22px;
	transform: skew(20deg);
	background-color: var(--main-tilebg-color);
}

.bend-lft {
	transform: skew(-20deg) !important;
}

.content {
	padding-top: 4px;
  padding-left: 32px;
	padding-right: 5px;
	transform: skew(-20deg);

	font-size: 15px;
  color: var(--main-txt-color);
	font-family: 'scientifica';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-lft{
  transform: skew(20deg) !important;
}

.icon{
	height: 100%;
	width: 24px;
	background-color: var(--main-tile-color);
	float:left;
}

.icon img{
	padding-top: 5px;
	padding-left: 7.25px;

	transform: skew(-20deg);
}

.icon-lft img{
  transform: skew(20deg);
}

img{
  image-rendering: pixelated;
}

#dive-widgets-background-coffee{
  width: 100%;
  z-index: -999;
}

.background{
  margin-top: 3px;
  width: 100%;
  background-color: #FFFFFF;
  height: 22px;
  opacity: 0;
}
