:root {
  --music-padding: 75px;
  --airpods-padding: 75px;
  --mairpod-padding: 215px;
}

/*

	ICON POSITIONS

  spacing = 10px

*/

#dive-widgets-time-coffee{
  z-index: 1000;
  padding-left: 1345px;
  float: right;
}

#dive-widgets-connection-coffee{
  right: 130px;
}

#dive-widgets-battery-coffee{
  right: 205px;
}

#dive-widgets-temp-coffee{
  right: 295px;
}

#dive-widgets-mem-coffee{
  right: 395px;
}

#dive-widgets-cpu-coffee{
  right: 485px;
}

#dive-widgets-up-coffee{
  right: 580px;
  z-index: 1;
}

#dive-widgets-down-coffee{
  right: 660px;
  z-index: -1;
}

#dive-widgets-vpn-coffee{
  right: 730px;
}


/*
LEFT
*/

#dive-widgets-vol-coffee{
  padding-left: 10px;
  float: left;
}

#dive-widgets-music-coffee{
  padding-left: 10px;
  float: left;
}

#dive-widgets-airpods-coffee{
  padding-left: 10px;
  float: left;
}

/*
  BOTTOM (LEFT)
*/

#dive-widgets-spaces-coffee{
  padding-left: 10px;
  float: left;
  bottom: 28px;
}
